# EE379K: Lab 2
## Group Members: Irfan Hasan (ih3976), Peter Zhang (yz7724)

## Question 1

## Question 2

## Question 3

## Question 4

Write a program taht on input k and XXXX, returns the top k names from year XXXX

In [9]:
%%file q4a.py
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def main():
    if len(sys.argv) != 3:
        print "invalid arguments"
        exit(1)

    k = int(sys.argv[1])
    year = sys.argv[2]

    filename = "Names/yob" + year + ".txt"
    data = pd.read_csv(filename, sep=",", header=None)
    print data.head(k)

if __name__ == "__main__":
    main()

Overwriting q4a.py

In [10]:
%%!
python q4a.py 5 1996

['          0  1      2',
 '0     Emily  F  25150',
 '1   Jessica  F  24192',
 '2    Ashley  F  23676',
 '3     Sarah  F  21029',
 '4  Samantha  F  20545']

Write a program that on input Name returns the frequency for men and women of the name Name

In [31]:
%%file q4b.py
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def main():
    if len(sys.argv) != 2:
        print "invalid arguments"
        exit(1)

    name = sys.argv[1]
    for year in range(1880, 2016):
        filename = "Names/yob" + str(year) + ".txt"
        data = pd.read_csv(filename, sep=",", header=None)
        data = data[data[0] == name]
        for row in data.itertuples():
            print '{0} {1} {2} {3}'.format(str(year), row[1], row[2], str(row[3]))

if __name__ == "__main__":
    main()

Overwriting q4b.py

In [32]:
%%!
python q4b.py Ida

['1880 Ida F 1472',
 '1880 Ida M 8',
 '1881 Ida F 1439',
 '1881 Ida M 5',
 '1882 Ida F 1673',
 '1882 Ida M 5',
 '1883 Ida F 1634',
 '1883 Ida M 5',
 '1884 Ida F 1882',
 '1884 Ida M 8',
 '1885 Ida F 1854',
 '1885 Ida M 6',
 '1886 Ida F 2049',
 '1886 Ida M 8',
 '1887 Ida F 1929',
 '1887 Ida M 9',
 '1888 Ida F 2229',
 '1888 Ida M 13',
 '1889 Ida F 2122',
 '1889 Ida M 8',
 '1890 Ida F 2178',
 '1890 Ida M 10',
 '1891 Ida F 2002',
 '1892 Ida F 2259',
 '1892 Ida M 10',
 '1893 Ida F 2247',
 '1893 Ida M 9',
 '1894 Ida F 2195',
 '1894 Ida M 9',
 '1895 Ida F 2170',
 '1895 Ida M 10',
 '1896 Ida F 2159',
 '1896 Ida M 5',
 '1897 Ida F 2108',
 '1897 Ida M 6',
 '1898 Ida F 2090',
 '1898 Ida M 8',
 '1899 Ida F 1804',
 '1899 Ida M 10',
 '1900 Ida F 2285',
 '1900 Ida M 13',
 '1901 Ida F 1835',
 '1901 Ida M 6',
 '1902 Ida F 1836',
 '1903 Ida F 1774',
 '1903 Ida M 6',
 '1904 Ida F 1751',
 '1904 Ida M 6',
 '1905 Ida F 1757',
 '1905 Ida M 11',
 '1906 Ida F 1753',
 '1906 Ida M 6',
 '1907 Ida F 1980',
 '1907 Ida M 5',
 '1908 Ida F 1952',
 '1908 Ida M 7',
 '1909 Ida F 1943',
 '1909 Ida M 13',
 '1910 Ida F 2107',
 '1910 Ida M 6',
 '1911 Ida F 2119',
 '1911 Ida M 14',
 '1912 Ida F 2740',
 '1912 Ida M 14',
 '1913 Ida F 2916',
 '1913 Ida M 5',
 '1914 Ida F 3561',
 '1914 Ida M 14',
 '1915 Ida F 4125',
 '1915 Ida M 15',
 '1916 Ida F 4364',
 '1916 Ida M 17',
 '1917 Ida F 4247',
 '1917 Ida M 14',
 '1918 Ida F 4450',
 '1918 Ida M 20',
 '1919 Ida F 4162',
 '1919 Ida M 11',
 '1920 Ida F 4091',
 '1920 Ida M 14',
 '1921 Ida F 4146',
 '1921 Ida M 18',
 '1922 Ida F 3985',
 '1922 Ida M 13',
 '1923 Ida F 3888',
 '1923 Ida M 14',
 '1924 Ida F 3862',
 '1924 Ida M 18',
 '1925 Ida F 3489',
 '1925 Ida M 20',
 '1926 Ida F 3282',
 '1926 Ida M 13',
 '1927 Ida F 3203',
 '1927 Ida M 22',
 '1928 Ida F 2996',
 '1928 Ida M 14',
 '1929 Ida F 2674',
 '1929 Ida M 25',
 '1930 Ida F 2645',
 '1930 Ida M 13',
 '1931 Ida F 2415',
 '1931 Ida M 13',
 '1932 Ida F 2318',
 '1932 Ida M 16',
 '1933 Ida F 2063',
 '1933 Ida M 17',
 '1934 Ida F 1972',
 '1934 Ida M 15',
 '1935 Ida F 1924',
 '1935 Ida M 14',
 '1936 Ida F 1798',
 '1936 Ida M 9',
 '1937 Ida F 1785',
 '1937 Ida M 12',
 '1938 Ida F 1724',
 '1938 Ida M 12',
 '1939 Ida F 1588',
 '1939 Ida M 14',
 '1940 Ida F 1688',
 '1940 Ida M 9',
 '1941 Ida F 1608',
 '1941 Ida M 10',
 '1942 Ida F 1622',
 '1942 Ida M 11',
 '1943 Ida F 1476',
 '1943 Ida M 6',
 '1944 Ida F 1335',
 '1945 Ida F 1232',
 '1945 Ida M 5',
 '1946 Ida F 1390',
 '1946 Ida M 7',
 '1947 Ida F 1350',
 '1948 Ida F 1303',
 '1948 Ida M 6',
 '1949 Ida F 1288',
 '1949 Ida M 5',
 '1950 Ida F 1195',
 '1951 Ida F 1074',
 '1952 Ida F 1063',
 '1952 Ida M 7',
 '1953 Ida F 1017',
 '1953 Ida M 5',
 '1954 Ida F 1059',
 '1955 Ida F 938',
 '1956 Ida F 933',
 '1956 Ida M 10',
 '1957 Ida F 869',
 '1958 Ida F 791',
 '1959 Ida F 819',
 '1960 Ida F 738',
 '1961 Ida F 701',
 '1961 Ida M 5',
 '1962 Ida F 658',
 '1963 Ida F 625',
 '1964 Ida F 579',
 '1964 Ida M 6',
 '1965 Ida F 519',
 '1965 Ida M 5',
 '1966 Ida F 513',
 '1967 Ida F 478',
 '1967 Ida M 8',
 '1968 Ida F 402',
 '1969 Ida F 389',
 '1970 Ida F 385',
 '1971 Ida F 345',
 '1972 Ida F 326',
 '1973 Ida F 306',
 '1974 Ida F 302',
 '1975 Ida F 240',
 '1976 Ida F 217',
 '1977 Ida F 250',
 '1978 Ida F 219',
 '1979 Ida F 239',
 '1980 Ida F 209',
 '1981 Ida F 206',
 '1982 Ida F 205',
 '1983 Ida F 152',
 '1984 Ida F 155',
 '1985 Ida F 153',
 '1986 Ida F 155',
 '1987 Ida F 150',
 '1988 Ida F 163',
 '1989 Ida F 133',
 '1990 Ida F 121',
 '1991 Ida F 114',
 '1992 Ida F 135',
 '1993 Ida F 105',
 '1994 Ida F 106',
 '1995 Ida F 98',
 '1996 Ida F 98',
 '1997 Ida F 93',
 '1998 Ida F 88',
 '1999 Ida F 65',
 '2000 Ida F 88',
 '2001 Ida F 89',
 '2002 Ida F 73',
 '2003 Ida F 83',
 '2004 Ida F 79',
 '2005 Ida F 86',
 '2006 Ida F 83',
 '2007 Ida F 94',
 '2008 Ida F 98',
 '2009 Ida F 95',
 '2010 Ida F 102',
 '2011 Ida F 93',
 '2012 Ida F 99',
 '2013 Ida F 117',
 '2014 Ida F 148',
 '2015 Ida F 159']

Modify the above program to return relative frequency.

In [62]:
%%file q4c.py
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def main():
    if len(sys.argv) != 2:
        print "invalid arguments"
        exit(1)

    name = sys.argv[1]
    for year in range(1880, 2016):
        filename = "Names/yob" + str(year) + ".txt"
        data = pd.read_csv(filename, sep=",", header=None)
        total = data[2].sum()
        data = data[data[0] == name]
        for row in data.itertuples():
            print "{0} {1} {2} {3:8} {4:.9f}".format(str(year), row[1], row[2], row[3], float(row[3])/total)

if __name__ == "__main__":
    main()

Overwriting q4c.py

In [63]:
%%!
python q4c.py Mike

['1880 Mike M       95 0.000471506',
 '1881 Mike M       44 0.000228339',
 '1882 Mike M       89 0.000401744',
 '1883 Mike M       73 0.000336491',
 '1884 Mike M       84 0.000345022',
 '1885 Mike M       84 0.000348759',
 '1886 Mike M       84 0.000329000',
 '1887 Mike M       73 0.000295073',
 '1888 Mike M       81 0.000270474',
 '1889 Mike M       72 0.000249180',
 '1890 Mike M       83 0.000275381',
 '1891 Mike M       64 0.000223249',
 '1892 Mike M       76 0.000227288',
 '1893 Mike M       67 0.000206013',
 '1894 Mike M       87 0.000256871',
 '1895 Mike M       85 0.000242149',
 '1896 Mike M       85 0.000237772',
 '1897 Mike M       92 0.000265162',
 '1898 Mike M      106 0.000277879',
 '1899 Mike M       83 0.000244668',
 '1900 Mike M      132 0.000293130',
 '1901 Mike M       98 0.000283388',
 '1902 Mike M       99 0.000255990',
 '1903 Mike M      113 0.000296428',
 '1904 Mike M      118 0.000292444',
 '1905 Mike M      117 0.000275982',
 '1906 Mike M      141 0.000329085',
 '1907 Mike M      157 0.000337348',
 '1908 Mike M      139 0.000284453',
 '1909 Mike M      167 0.000326663',
 '1910 Mike M      222 0.000375813',
 '1911 Mike M      243 0.000377170',
 '1912 Mike M      430 0.000435197',
 '1913 Mike M      520 0.000457306',
 '1914 Mike M      794 0.000560606',
 '1915 Mike M     1029 0.000561534',
 '1916 Mike F        5 0.000002585',
 '1916 Mike M     1114 0.000575882',
 '1917 Mike M     1182 0.000588998',
 '1918 Mike F        5 0.000002303',
 '1918 Mike M     1286 0.000592307',
 '1919 Mike F        5 0.000002369',
 '1919 Mike M     1122 0.000531685',
 '1920 Mike M     1074 0.000474647',
 '1921 Mike M     1080 0.000462633',
 '1922 Mike M      932 0.000407123',
 '1923 Mike M     1005 0.000436480',
 '1924 Mike F       10 0.000004199',
 '1924 Mike M      964 0.000404761',
 '1925 Mike F        6 0.000002571',
 '1925 Mike M      906 0.000388288',
 '1926 Mike F        8 0.000003485',
 '1926 Mike M      857 0.000373280',
 '1927 Mike M      802 0.000345814',
 '1928 Mike F        5 0.000002212',
 '1928 Mike M      761 0.000336624',
 '1929 Mike F       12 0.000005475',
 '1929 Mike M      695 0.000317081',
 '1930 Mike F        9 0.000004049',
 '1930 Mike M      711 0.000319832',
 '1931 Mike F        5 0.000002377',
 '1931 Mike M      692 0.000328929',
 '1932 Mike M      624 0.000295608',
 '1933 Mike F        5 0.000002501',
 '1933 Mike M      574 0.000287150',
 '1934 Mike M      649 0.000312562',
 '1935 Mike F        5 0.000002393',
 '1935 Mike M      728 0.000348417',
 '1936 Mike M      774 0.000372608',
 '1937 Mike M      873 0.000409810',
 '1938 Mike F        5 0.000002260',
 '1938 Mike M     1053 0.000475998',
 '1939 Mike F        5 0.000002269',
 '1939 Mike M     1349 0.000612301',
 '1940 Mike F        8 0.000003475',
 '1940 Mike M     1550 0.000673240',
 '1941 Mike F        8 0.000003284',
 '1941 Mike M     1932 0.000793119',
 '1942 Mike F       11 0.000004027',
 '1942 Mike M     2293 0.000839501',
 '1943 Mike F        6 0.000002126',
 '1943 Mike M     2803 0.000993259',
 '1944 Mike F       16 0.000005949',
 '1944 Mike M     3085 0.001146953',
 '1945 Mike F       17 0.000006409',
 '1945 Mike M     3592 0.001354104',
 '1946 Mike F       21 0.000006573',
 '1946 Mike M     4853 0.001518966',
 '1947 Mike F       20 0.000005553',
 '1947 Mike M     5750 0.001596361',
 '1948 Mike F       13 0.000003766',
 '1948 Mike M     5045 0.001461367',
 '1949 Mike F        9 0.000002583',
 '1949 Mike M     3741 0.001073585',
 '1950 Mike F        8 0.000002283',
 '1950 Mike M     2616 0.000746379',
 '1951 Mike F       10 0.000002716',
 '1951 Mike M     2198 0.000596957',
 '1952 Mike F        7 0.000001843',
 '1952 Mike M     2104 0.000553945',
 '1953 Mike F       10 0.000002596',
 '1953 Mike M     2282 0.000592413',
 '1954 Mike F       12 0.000003016',
 '1954 Mike M     2502 0.000628778',
 '1955 Mike F       10 0.000002492',
 '1955 Mike M     2724 0.000678835',
 '1956 Mike F       12 0.000002912',
 '1956 Mike M     3905 0.000947523',
 '1957 Mike F       12 0.000002857',
 '1957 Mike M     7242 0.001724226',
 '1958 Mike F       23 0.000005567',
 '1958 Mike M    10772 0.002607106',
 '1959 Mike F       26 0.000006255',
 '1959 Mike M    11998 0.002886482',
 '1960 Mike F       24 0.000005776',
 '1960 Mike M    12047 0.002899484',
 '1961 Mike F       25 0.000006039',
 '1961 Mike M    11660 0.002816398',
 '1962 Mike F       16 0.000003965',
 '1962 Mike M    10525 0.002608061',
 '1963 Mike F       20 0.000005052',
 '1963 Mike M     9046 0.002284929',
 '1964 Mike F       21 0.000005401',
 '1964 Mike M     7766 0.001997413',
 '1965 Mike F       22 0.000006067',
 '1965 Mike M     6035 0.001664167',
 '1966 Mike F       13 0.000003740',
 '1966 Mike M     4529 0.001302966',
 '1967 Mike F       10 0.000002945',
 '1967 Mike M     3758 0.001106809',
 '1968 Mike F       17 0.000005031',
 '1968 Mike M     3218 0.000952306',
 '1969 Mike F       27 0.000007766',
 '1969 Mike M     2874 0.000826644',
 '1970 Mike F       24 0.000006652',
 '1970 Mike M     2468 0.000684055',
 '1971 Mike F       10 0.000002913',
 '1971 Mike M     1925 0.000560757',
 '1972 Mike F       11 0.000003499',
 '1972 Mike M     1392 0.000442752',
 '1973 Mike F        7 0.000002320',
 '1973 Mike M     1039 0.000344317',
 '1974 Mike F        8 0.000002631',
 '1974 Mike M      815 0.000268035',
 '1975 Mike F        9 0.000002980',
 '1975 Mike M      684 0.000226486',
 '1976 Mike F        7 0.000002306',
 '1976 Mike M      593 0.000195378',
 '1977 Mike F        5 0.000001574',
 '1977 Mike M      521 0.000163998',
 '1978 Mike M      441 0.000138935',
 '1979 Mike F        6 0.000001803',
 '1979 Mike M      439 0.000131941',
 '1980 Mike M      407 0.000118172',
 '1981 Mike F        5 0.000001446',
 '1981 Mike M      410 0.000118541',
 '1982 Mike M      321 0.000091530',
 '1983 Mike F        8 0.000002311',
 '1983 Mike M      309 0.000089251',
 '1984 Mike M      291 0.000083450',
 '1985 Mike M      350 0.000098111',
 '1986 Mike M      321 0.000090292',
 '1987 Mike F        7 0.000001942',
 '1987 Mike M      308 0.000085466',
 '1988 Mike F        6 0.000001625',
 '1988 Mike M      381 0.000103175',
 '1989 Mike M      401 0.000104339',
 '1990 Mike M      379 0.000095938',
 '1991 Mike M      375 0.000096302',
 '1992 Mike M      351 0.000091409',
 '1993 Mike M      288 0.000076413',
 '1994 Mike F        5 0.000001345',
 '1994 Mike M      288 0.000077492',
 '1995 Mike M      332 0.000090686',
 '1996 Mike M      362 0.000099289',
 '1997 Mike M      334 0.000092156',
 '1998 Mike M      289 0.000078607',
 '1999 Mike M      284 0.000076928',
 '2000 Mike M      329 0.000087099',
 '2001 Mike M      315 0.000084211',
 '2002 Mike M      342 0.000091558',
 '2003 Mike M      321 0.000084493',
 '2004 Mike M      338 0.000088542',
 '2005 Mike M      300 0.000078110',
 '2006 Mike M      329 0.000083261',
 '2007 Mike M      292 0.000073141',
 '2008 Mike M      292 0.000074406',
 '2009 Mike M      260 0.000068181',
 '2010 Mike M      241 0.000065346',
 '2011 Mike M      239 0.000065503',
 '2012 Mike M      245 0.000067194',
 '2013 Mike M      236 0.000064987',
 '2014 Mike M      215 0.000058295',
 '2015 Mike M      194 0.000052887']

Find all names that used to be more popular for one gender, but then became more popular for another gender.

In [69]:
%%file q4d.py
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def main():
    result = set()
    names = {} # {name : [starting_sex, sum]}; positive sum  -> more male, negative -> more female
    for year in range(1880, 2016):
        filename = "Names/yob" + str(year) + ".txt"
        data = pd.read_csv(filename, sep=",", header=None)
        for row in data.itertuples():
            if row[1] in names:
                if row[2] == 'M':
                    names[row[1]][1] += row[3]
                else:
                    names[row[1]][1] -= row[3]
            else:
                tmp = data[data[0] == row[1]]
                if len(tmp.index) == 2:
                    f = tmp.iloc[0][3]
                    m = tmp.iloc[1][3]
                    if f > m:
                        names[row[1]] = ['F', f]
                    elif f < m:
                        names[row[1]] = ['M', m]
                else:
                    names[row[1]] = [row[2], row[3]]
        
    for k, v in names.iteritems():
        if v[0] == 'M' and v[1] < 0:
            print k
        elif v[0] == 'F' and v[1] > 0:
            print k
                
if __name__ == "__main__":
    main()

Overwriting q4d.py

In [70]:
%%!
python q4d.py

['Traceback (most recent call last):',
 '  File "q4d.py", line 35, in <module>',
 '    main()',
 '  File "q4d.py", line 21, in main',
 '    if tmp[0][3] > tmp[1][3]: # F > M',
 '  File "/Users/peter_zhang/anaconda2/lib/python2.7/site-packages/pandas/core/series.py", line 601, in __getitem__',
 '    result = self.index.get_value(self, key)',
 '  File "/Users/peter_zhang/anaconda2/lib/python2.7/site-packages/pandas/core/indexes/base.py", line 2477, in get_value',
 "    tz=getattr(series.dtype, 'tz', None))",
 '  File "pandas/_libs/index.pyx", line 98, in pandas._libs.index.IndexEngine.get_value',
 '  File "pandas/_libs/index.pyx", line 106, in pandas._libs.index.IndexEngine.get_value',
 '  File "pandas/_libs/index.pyx", line 154, in pandas._libs.index.IndexEngine.get_loc',
 '  File "pandas/_libs/hashtable_class_helper.pxi", line 759, in pandas._libs.hashtable.Int64HashTable.get_item',
 '  File "pandas/_libs/hashtable_class_helper.pxi", line 765, in pandas._libs.hashtable.Int64HashTable.get_item',
 'KeyError: 3']

## Question 5